<div class="slider-images">
    <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/slider/pizza-preparation.jpg" class="d-none d-md-block w-100"
                    alt="Pizza Preparation" loading="lazy">
                <!-- To work on inserting caption and aligning it -->
                <div class="carousel-caption d-none d-md-block">
                    Place your order now !
                </div>
                <!-- To work on inserting caption and aligning it -->
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider/pizza-table.jfif" class="d-none d-md-block w-100"
                    alt="Pizza Table" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider/large-pizza.jpg" class="d-none d-md-block w-100"
                alt="Large Pizza" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider/pizza-treat-table.jpg" class="d-none d-md-block w-100"
                    alt="Pizza Treat Table" loading="lazy">
            </div>
            <!-- <div class="carousel-item">
                <img src="assets/images/slider/8-reasons-of-pizza.jpg" class="d-none d-md-block w-100"
                    alt="8 reasons to love pizza" loading="lazy">
            </div> -->
        </div>
        <ol class="carousel-indicators d-none d-md-flex">
            <li class="active" href="#carouselFade" role="button" data-slide-to="0"></li>
            <li href="#carouselFade" role="button" data-slide-to="1"></li>
            <li href="#carouselFade" role="button" data-slide-to="2"></li>
            <li href="#carouselFade" role="button" data-slide-to="3"></li>
            <!-- <li href="#carouselFade" role="button" data-slide-to="4"></li> -->
        </ol>
    </div>
</div>