.orders-wrapper {
    .order-cards {
        display: flex;
        row-gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 50px;

       .card {
           min-height: 500px;
           min-width: 357px;
           background: #fff;
           img {
                height: 290px;
                object-fit: cover;
           }

           .card-body {
               .card-text {
                   font-size: 18px;
                   font-weight: 500;

                   .value {
                       font-weight: 600;
                       font-size: 20px;
                   }
               }
               .btn {
                   font-weight: 600;
                   padding: 12px 25px;
                   text-transform: uppercase;
                   color: #fff;
                }
           }
       }
       
       .card.loading {
           .card-img-top, h4, .card-text {
               background: #eee;
               background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
               background-size: 200% 100%;
               animation: 1.2s shine linear infinite;
           }
           .card-img-top {
               height: 290px;
           }
           h4 {
               height: 28px;
           }
           .card-text {
               height: 30px;
           }
       }
    }
    
}
@keyframes shine {
    from {
        background-position-x: 200% ;
    }
}