.orders-wrapper {
    .order-cards {
        display: flex;
        row-gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 50px;

       .card {
           img {
                height: 290px;
                object-fit: cover;
           }

           .card-body {
               .actions {
                   display: flex;
                   column-gap: 10px;
                   .btn {
                       font-weight: 600;
                       color: #fff;
                       padding: 12px 25px;
                       text-transform: uppercase;
                   }
    
                   .text-primary:hover {
                       background-color: #f1f1f1c9;
                       color: #007bff !important;
                   }
               }
           }
       } 
    }
}
