.orders-wrapper {
    .order-cards {
        display: flex;
        row-gap: 25px;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 50px;

       .card {
           img {
                height: 290px;
                object-fit: cover;
           }

           .card-body {
               .card-text {
                   font-size: 18px;
                   font-weight: 500;

                   .value {
                       font-weight: 600;
                       font-size: 20px;
                   }
               }
               .btn {
                   font-weight: 600;
                   padding: 12px 25px;
                   text-transform: uppercase;
                   color: #fff;
                }
           }
       } 
    }
}
