<div class="orders-wrapper">
    <h3 class="ml-4 mt-2">Orders Placed</h3>

    <div class="p-4 order-cards" *ngIf="orders?.length; else noDataAvailable">
        <div class="card" *ngFor="let order of orders">
            <img class="card-img-top" src="assets/images/pizza-thumbnail.jfif" alt="Pizza">
            <div class="card-body">
                <h4 class="card-title">{{order?.Flavor}} - {{order?.pizzaSize | uppercase}}</h4>
                <p class="card-text">Crust: <span class="value">{{order?.Crust}}</span> </p>
                <p class="card-text">Table no: <span class="value">{{order?.Table_No}}</span></p>
                <p class="card-text">Order Date: <span class="value">{{order?.Timestamp | date: 'EEE, dd MMM yyyy'}}</span></p>
                <a class="btn btn-success" (click)="completeOrder(order.Order_ID)">Complete Order</a>
            </div>
        </div>
    </div>
    <ng-template #noDataAvailable>
        No Orders available, prepare order.
    </ng-template>
    

</div>