<div class="orders-wrapper">
    <h3 class="ml-4 mt-2">Orders Placed</h3>

    <div class="p-4 order-cards">
        <div class="card">
            <img class="card-img-top" src="assets/images/pizza-thumbnail.jfif" alt="Pizza">
            <div class="card-body">
                <h4 class="card-title">Flavor of the Pizza - Size</h4>
                <p class="card-text"><strong>Crust:</strong> </p>
                <p class="card-text"><strong>Table no:</strong> </p>
                <p class="card-text"><strong>Order Time:</strong> </p>
                <div class="actions">
                    <a class="btn text-primary">Complete Order</a>
                    <a class="btn btn-success">Repeat Order</a>
                </div>
            </div>
        </div>
    </div>

</div>